<a href="https://colab.research.google.com/github/taitaiwu/taitaiwu/blob/main/ITS_Python_Notes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 一、資料型態

In [ ]:
x = 0
y = 1
a = b = c = 20
age , name = 18 , "小明"

type(name) #查詢型態類別

str

---
---

# 二、輸出與輸入

## 1. 命令

In [ ]:
print("Hello World")

Hello World

In [ ]:
print(100 , "多吃水果" , True)
print("100" + "多吃水果" + "True")  #加號兩側需要一樣的形態
print(str(100) + "多吃水果" + str(True))

100 多吃水果 True
100多吃水果True
100多吃水果True

## 2. 分隔與結束

In [ ]:
print(100 , "多吃水果" , True , sep="&")  #sep分隔符號
print(100 , "多吃水果" , True , end="!\n")  #end結束符號
print(100 , "多吃水果" , True , sep="&" , end="!\n")  #end和sep可以顛倒，但一定要放在print最後面
print(100 , "多吃水果" , True , end="!\n" , sep="&")

100&多吃水果&True
100 多吃水果 True!
100&多吃水果&True!
100&多吃水果&True!

## 3. 參數命令格式化(%系列)

In [ ]:
print("%s的成績為%d" % ("王大山" , 75))
print("%5s的成績為%3d" % ("王大山" , 75))
print("%-5s的成績為%-3d" % ("王大山" , 75))  #靠左對齊記得"-"要放在"%"後面
print("%5s的成績為%.2f" % ("王大山" , 75))
print("%5s的成績為%6.2f" % ("王大山" , 75))
#%小數點前的數字代表全部的位數 e.g. %6.2f表共六位(含.和小數點後兩位)，因此小數點前有6-1-2=3位

王大山的成績為75
  王大山的成績為 75
王大山  的成績為75
  王大山的成績為75.00
  王大山的成績為 75.00

## 4. 參數命令格式化(.format系列)

In [ ]:
print("{}的成績為{}".format ("王大山" , 75))
print("{0}的成績為{1}".format ("王大山" , 75))
print("{1}的成績為{0}".format (75 , "王大山"))
print("{:5s}的成績為{:.2f}".format ("王大山" , 75))  #{序列:格式} (序列沒寫就是預設按照順序)
print("{0:5s}的成績為{1:7.2f}".format ("王大山" , 75))  #文字預設靠左，數字預設靠右
print("{0:<5s}的成績為{1:<7.2f}".format ("王大山" , 75))  #文字靠左用<
print("{0:>5s}的成績為{1:>7.2f}".format ("王大山" , 75))  #文字靠右用>
print("{0:^5s}的成績為{1:^7.2f}".format ("王大山" , 75))  #文字置中用^

王大山的成績為75
王大山的成績為75
王大山的成績為75
王大山  的成績為75.00
王大山  的成績為  75.00
王大山  的成績為75.00
  王大山的成績為  75.00
 王大山 的成績為 75.00

## 5. 參數命令格式化(f系列)

In [ ]:
name = "王大山"
score  = 75

print(f"{name}的成績為{score}")

王大山的成績為75

---

## 6. 輸入(Input)

In [ ]:
9chin = input("請輸入您的國文成績...")

print(f"您的國文成績為:{chin}分")

請輸入您的國文成績...100
您的國文成績為:100分

### **例題一** : 讓使用者輸入國英數三科成績，求總分和平均

In [ ]:
chin = int(input("請輸入您的國文成績..."))
eng = int(input("請輸入您的英文成績..."))
math = int(input("請輸入您的英文成績..."))

total = chin + eng + math
ava = total/3

print(f"您的總分為{total}分;平均為{ava}分")

請輸入您的國文成績...95
請輸入您的英文成績...96
請輸入您的英文成績...97
您的總分為288分;平均為96.0分

### **例題二** : 讓使用者輸入身高及體重，求BMI

In [ ]:
height = float(input("請輸入您的身高(公分):"))
weight = float(input("請輸入您的體重(公斤):"))

BMI = weight / ((height/100)**2)

print(f"您的身高為{height}公分;體重為{weight}公斤;BMI={BMI:.2f}")

請輸入您的身高(公分):184
請輸入您的體重(公斤):52
您的身高為184.0公分;體重為52.0公斤;BMI=15.36

---
---

# 三、判斷式

## 1. 單向判斷式

In [ ]:
score = int(input("請輸入總平均:"))

if (score >= 60):
    print("及格")

請輸入總平均50

## 2. 雙向判段式

In [ ]:
score = int(input("請輸入總平均:"))

if (score >= 60):
    print("及格")
else:
    print("不及格")

請輸入總平均:50
不及格

## 3. 多向判斷式

In [ ]:
score = int(input("請輸入總平均:"))

if (score >= 80):
    print("優等")
elif (score >= 60):
    print("及格")
else:
    print("不及格")

請輸入總平均:70
及格

### **例題一** : 詢問使用者身高體重，並分析其BMI值為過輕、標準或超重

In [ ]:
height = float(input("請輸入您的身高(公分):"))
weight = float(input("請輸入您的體重(公斤):"))

BMI = round(weight / ((height/100)**2),2)  #可以用round來控制小數點位數，樣式:round(數字，小數點後位數)

if (BMI < 18.5):
    print("您的BMI為" + str(BMI) + "\n結果為:過輕")
elif (BMI >= 18.5 and BMI <= 24):
    print("您的BMI為" + str(BMI) + "\n結果為:標準")
else:
    print("您的BMI為" + str(BMI) + "\n結果為:超重")

請輸入您的身高(公分):184
請輸入您的體重(公斤):52
您的BMI為15.36
結果為:過輕

### **例題二** : 請使用者輸入整數後，判斷該數為奇數或是偶數

In [ ]:
num = int(input("請輸入一個整數:"))

if (num % 2 == 0):
    print(str(num)+"是偶數")
else:
    print(str(num)+"是奇數")

請輸入一個整數:98
98是偶數

### **例題三** : 使用者輸入西元年後，判斷該年是否閏年

In [ ]:
year = int(input("請輸入西元年:"))

if (year % 100 == 0):
    if (year % 400 == 0):
        print(str(year)+"為閏年")
    else:
        print(str(year)+"為平年")
else:
    if (year % 4 == 0):
        print(str(year)+"為閏年")
    else:
        print(str(year)+"為平年")

請輸入西元年:2023
2023為平年

---
---

# 四、串列

## 1. 串列
格式 list[初始值:終止值:間隔值]

In [ ]:
list1 = [1,2,3,4,5,6,7,8,9]

#可以藉由索引值來尋找資料，記得索引值是從0開始
print(list1[0])
print(list1[1])

#可以提取索引值尋找a~(b-1)筆的資料，a和b要用:隔開(list1[a:b])
print(list1[0:4])
print(list1[:4])  #0可省略不寫
print(list1[:])  #:前後都省略不寫時，表取全部資料

#加上-表示從後面數回來，例-1表最後一筆資料
print(list1[-1])
print(list1[-3])

#提取倒數第a筆資料到倒數第b筆資料時，要將索引值將前面的人放前面,格式如list1[-b:-a]
print(list1[-6:-2])
print(list1[-7:-1])
print(list1[-5:])  #:後面省略時，自動取到最後一筆資料

#可在最後加上間隔值
print(list1[0:7:2])
print(list1[::2])  #可以只寫間隔值
print(list1[::-2])  #間隔值為附表從最後面數回來

1
2
[1, 2, 3, 4]
[1, 2, 3, 4]
[1, 2, 3, 4, 5, 6, 7, 8, 9]
9
7
[4, 5, 6, 7]
[3, 4, 5, 6, 7, 8]
[5, 6, 7, 8, 9]
[1, 3, 5, 7]
[1, 3, 5, 7, 9]
[9, 7, 5, 3, 1]

## 2. 整數串列

In [ ]:
list2 = list(range(5))
print(list2)
list(range(10))
list(range(3,8))
list(range(3,8,2))
list(range(8,3,-2))

[0, 1, 2, 3, 4]

[8, 6, 4]

## 3. 串列資料的其他應用

### ( 1 ) len : 求串列長度

In [ ]:
x = [34,56,98,74,85,41]

print(len(x))

6

### ( 2 ) append : 在串列中增加一個數

In [ ]:
x = [34,56,98,74,85,41]

x.append(101)
print(x)

[34, 56, 98, 74, 85, 41, 101]

### ( 3 ) insert : 在串列中插入一個數

In [ ]:
x = [34,56,98,74,85,41]

x.insert(2,101)
print(x)

[34, 56, 101, 98, 74, 85, 41]

### ( 4 ) pop : 在串列中刪除最後一個元素

In [ ]:
x = [34,56,98,74,85,41]

x.pop()
print(x)

[34, 56, 98, 74, 85]

### ( 5 ) remove : 在串列中刪除一個元素

In [ ]:
x = [34,56,98,74,85,41]

x.remove(98)
print(x)

[34, 56, 74, 85, 41]

### ( 6 ) sort : 將串列遞增排序

In [ ]:
x = [34,56,98,74,85,41]

x.sort()
print(x)

[34, 41, 56, 74, 85, 98]

### ( 7 ) reverse : 將串列排序顛倒

In [ ]:
x = [34,56,98,74,85,41]

x.reverse()
print(x)

[41, 85, 74, 98, 56, 34]

* **註**:若要將串列遞減排序，需先使用sort再用reverse

In [ ]:
x = [34,56,98,74,85,41]

x.sort()
x.reverse()
print(x)

[98, 85, 74, 56, 41, 34]

---
---

# 五、迴圈

## 1.for迴圈
用於執行固定次數之迴圈

In [ ]:
list3 = ["香蕉","蘋果","橘子"]

for fruit in list3:
    print(fruit)

香蕉
蘋果
橘子

In [ ]:
list3 = ["香蕉","蘋果","橘子"]

for fruit in list3:
    print(fruit,end=" ")

香蕉 蘋果 橘子

### **例題一** : 請用for迴圈寫出1加到10的總和(逐行顯示加總歷程)

In [ ]:
total = 0

for i in range(1,11):
    total += i
    print(total)

1
3
6
10
15
21
28
36
45
55

### **例題二** : 請用for迴圈寫出1加到10的總和(在同一行顯示加總歷程，中間用空格隔開)

In [ ]:
total = 0

for i in range(1,11):
    total += i
    print(total,end=" ")

1 3 6 10 15 21 28 36 45 55

### **例題三** : 請用for迴圈寫出1加到10的總和(直接顯示結果)

In [ ]:
total = 0

for i in range(1,11):
    total += i

print(total,end=" ")

55

## 2. while迴圈

### **例題一** : 請用while迴圈寫出1加到10的總和(直接顯示結果)

In [ ]:
i = 1
total = 0

while (i < 11):
    total += i
    i += 1

print(total)

55

### **例題二** : 請用while迴圈寫出1加到10的奇數和(直接顯示結果)

In [ ]:
i = 1
total = 0

while (i < 11):
    total += i
    i += 2

print(total)

25

### **例題三** : 請用while迴圈寫出1加到10的偶數和(直接顯示結果)

In [ ]:
i = 2
total = 0

while (i < 11):
    total += i
    i += 2

print(total)

30

## 3. break跳出(結束)迴圈

In [ ]:
floors = [1,2,3,4,5,6,7,8,9,10]

for i in floors:
    if (i == 4):
        break
    print(i,end=" ")

1 2 3

## 4. continue跳過該次(繼續)迴圈

In [ ]:
floors = [1,2,3,4,5,6,7,8,9,10]

for i in floors:
    if (i == 4):
        continue
    print(i,end=" ")

1 2 3 5 6 7 8 9 10